In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes',]]

In [8]:
indep

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [9]:
dep=dataset['classification_yes']
dep

0      1
1      1
2      1
3      1
4      1
      ..
394    1
395    1
396    1
397    1
398    0
Name: classification_yes, Length: 399, dtype: uint8

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']}

grid=GridSearchCV(DecisionTreeClassifier(), param_grid, refit =1,verbose = 3,n_jobs=-1,scoring='f1_weighted')
grid.fit(X_train,y_train)

C:\Users\Hi\anaconda3\envs\ven\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    4.9s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=1, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [14]:
re=grid.cv_results_
print(re)

{'mean_fit_time': array([0.04634007, 0.02067097, 0.00233301, 0.00200176, 0.00166599,
       0.00166599, 0.00133236, 0.00166551, 0.00133268, 0.00166639,
       0.00199803, 0.00166718]), 'std_fit_time': array([3.06592689e-02, 2.57055075e-02, 4.70640060e-04, 1.21570099e-06,
       4.71146214e-04, 4.71989320e-04, 4.71651423e-04, 4.71148144e-04,
       4.71089867e-04, 4.71089465e-04, 8.16826746e-04, 4.70813265e-04]), 'mean_score_time': array([0.01888736, 0.01110959, 0.00333095, 0.00299621, 0.00266393,
       0.00199922, 0.00233245, 0.00233316, 0.00233221, 0.00233221,
       0.00166686, 0.00266202]), 'std_score_time': array([0.01194127, 0.01147035, 0.0004707 , 0.00081576, 0.0004716 ,
       0.00081673, 0.00047019, 0.00047171, 0.0004707 , 0.0004739 ,
       0.00047126, 0.00047143]), 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['auto', 'auto', 'sqrt', 'sqrt', 'log2', 'log2', 'auto',
                   'auto', 'sqrt', 'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_splitter': masked_array(data=['best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'gini', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'random'}], 'split0_test_score': array([0.955508  , 0.98879728, 0.94363666, 0.95474818, 0.93258427,
       0.93258427, 0.92158098, 0.97752809, 0.96618199, 0.955508  ,
       0.94398641, 0.93348527]), 'split1_test_score': array([0.91151393, 0.93258427, 0.91131369, 0.93326199, 0.88914211,
       0.92158098, 0.8895247 , 0.91151393, 0.87842042, 0.96639185,
       0.955508  , 0.96639185]), 'split2_test_score': array([0.93081494, 0.95424107, 0.93136161, 0.97727273, 0.96600712,
       0.97739651, 0.97712054, 0.97739651, 0.94258323, 1.        ,
       0.93017241, 0.9433452 ]), 'mean_test_score': array([0.93261905, 0.95855704, 0.92876091, 0.95501092, 0.92910629,
       0.94372782, 0.92922937, 0.95539712, 0.92901105, 0.97386875,
       0.94327133, 0.9477573 ]), 'std_test_score': array([0.01803889, 0.02319137, 0.01334644, 0.01795109, 0.03144686,
       0.02409723, 0.03613596, 0.03111768, 0.03714263, 0.01890509,
       0.01034575, 0.01381218]), 'rank_test_score': array([ 8,  2, 12,  4, 10,  6,  9,  3, 11,  1,  7,  5])}

In [15]:
grid_predictions=grid.predict(X_test)

In [16]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)

In [17]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)

In [18]:
print("The confusion matrix:\n",cm)

The confusion matrix:
 [[49  2]
 [ 3 79]]

In [19]:
print("The result:\n",clf_report)

The result:
               precision    recall  f1-score   support

           0       0.94      0.96      0.95        51
           1       0.98      0.96      0.97        82

    accuracy                           0.96       133
   macro avg       0.96      0.96      0.96       133
weighted avg       0.96      0.96      0.96       133

In [20]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9620994739359159

In [21]:
table=pd.DataFrame.from_dict(re)

In [22]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.046340,0.030659,0.018887,0.011941,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.955508,0.911514,0.930815,0.932619,0.018039,8
1,0.020671,0.025706,0.011110,0.011470,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.988797,0.932584,0.954241,0.958557,0.023191,2
2,0.002333,0.000471,0.003331,0.000471,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.943637,0.911314,0.931362,0.928761,0.013346,12
3,0.002002,0.000001,0.002996,0.000816,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.954748,0.933262,0.977273,0.955011,0.017951,4
4,0.001666,0.000471,0.002664,0.000472,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.932584,0.889142,0.966007,0.929106,0.031447,10
5,0.001666,0.000472,0.001999,0.000817,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.932584,0.921581,0.977397,0.943728,0.024097,6
6,0.001332,0.000472,0.002332,0.000470,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.921581,0.889525,0.977121,0.929229,0.036136,9
7,0.001666,0.000471,0.002333,0.000472,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.977528,0.911514,0.977397,0.955397,0.031118,3
8,0.001333,0.000471,0.002332,0.000471,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.966182,0.878420,0.942583,0.929011,0.037143,11
9,0.001666,0.000471,0.002332,0.000474,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.955508,0.966392,1.000000,0.973869,0.018905,1
10,0.001998,0.000817,0.001667,0.000471,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.943986,0.955508,0.930172,0.943271,0.010346,7
11,0.001667,0.000471,0.002662,0.000471,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.933485,0.966392,0.943345,0.947757,0.013812,5

In [23]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'random'}: 0.9624731911379498